h1,h2,h3,h4 {
    color: #e9e0e0;
    font-weight: normal;
  }
  
  p,a,li {
    color: #e9e0e0;
  }
  
  .heading {
    font-size: 5.6em;
    /* font-size: 90px; */
    font-weight: normal;
    color: #e9e0e0;
    font-family: "Poppins SemiBold";
  }

h2 {
    font-size: 3.75em;
    /* font-size: 60px; */
    font-family: "Poppins Medium";
  }
  h1 {
    font-size: 5.6em;
    font-family: "Poppins Medium";
  }
  .leading {
    font-size: 2.5em;
    /* font-size: 40px; */
    font-weight: normal;
    color: #e9e0e0;
    font-family: "Poppins Medium";
  }
  
  p {
    font-size: 2em;
    /* font-size: 33px; */
    font-family: "Poppins Regular";
  }
  
  a{
      font-size: 1.2em;
      font-family: 'Poppins SemiBold';
  }